In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/guns-data/master/interactive_data.csv")
df.head()

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [4]:
df = df[~(df=="None selected").any(axis=1)]
df.head()

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
151,152,Suicide,Female,Under 15,White,19,15355910,0.1
152,153,Suicide,Female,Under 15,Black,1,4095428,0.0
153,154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
154,155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
155,156,Suicide,Female,Under 15,Other,0,1661877,0.0

Nearly *two-thirds* of gun deaths are *suicides*.

In [5]:
num_deaths = df["Deaths"].sum()
frac_intent = (df[df["Intent"]=="Suicide"]["Deaths"]).sum() / num_deaths
print("Nearly %.2f of the gunshot deaths are suicides" % (frac_intent))

Nearly 0.63 of the gunshot deaths are suicides

More than *85 percent* of suicide victims are *male*.

In [6]:
num_suicides = (df[df["Intent"]=="Suicide"]["Deaths"]).sum()
frac_male = 100 * (df[(df["Intent"]=="Suicide") & (df["Gender"]=="Male")]["Deaths"]).sum() / num_suicides
print("More than %d percent of suicide victims are male." % (frac_male))

More than 86 percent of suicide victims are male.

Around *a third* of all gun deaths are *homicides*.

In [7]:
frac_homicides = (df[df["Intent"]=="Homicide"]["Deaths"]).sum() / num_deaths
print("Around %.2f of all gun deaths are homicides" % (frac_homicides))

Around 0.35 of all gun deaths are homicides

Around *two-thirds* of homicide victims who are *males* in the age-group of *15--34* are *black*.

In [8]:
df_homicide = df[df["Intent"]=="Homicide"]
denominator = (df_homicide[(df_homicide["Gender"]=="Male") & (df_homicide["Age"]=="15 - 34")]["Deaths"]).sum()
frac_black = (df_homicide[(df_homicide["Gender"]=="Male") 
                        & (df_homicide["Age"]=="15 - 34")
                        & (df_homicide["Race"]=="Black")]["Deaths"]).sum() / denominator
print("Around %.2f of homicide victims who are males in the age-group of 15--34 are black" % (frac_black))

Around 0.66 of homicide victims who are males in the age-group of 15--34 are black

*Women* constitue only *15 percent* of the total homicide victims.

In [9]:
num_homicides = df_homicide["Deaths"].sum()
frac_women = 100 * (df_homicide[df_homicide["Gender"]=="Female"]["Deaths"]).sum() / num_homicides
print("Women constitue only %d percent of the total homicide victims" % (frac_women))

Women constitue only 15 percent of the total homicide victims